/ProjectWh/.vs/ProjectWh/DesignTimeBuild
/ProjectWh/.vs/ProjectWh
/ProjectWh/.vs
ProjectWh/.vs/ProjectWh/DesignTimeBuild/.dtbcache.v2
ProjectWh/.vs/ProjectWh/DesignTimeBuild/.dtbcache.v2
ProjectWh/.vs/ProjectWh/DesignTimeBuild/.dtbcache.v2
ProjectWh/.vs/ProjectWh/FileContentIndex/05368637-1e28-48fa-883a-df33feee267f.vsidx
ProjectWh/.vs/ProjectWh/FileContentIndex/1cc827e1-7bb1-440b-b251-0a26cdfea965.vsidx
ProjectWh/.vs/ProjectWh/v17/.suo
ProjectWh/.vs/ProjectWh/v17/DocumentLayout.backup.json
ProjectWh/.vs/ProjectWh/v17/DocumentLayout.json
ProjectWh/.vs/slnx.sqlite
ProjectWh/.vs/ProjectWh/DesignTimeBuild/.dtbcache.v2
ProjectWh/.vs/ProjectWh/FileContentIndex/05368637-1e28-48fa-883a-df33feee267f.vsidx
ProjectWh/.vs/ProjectWh/FileContentIndex/1cc827e1-7bb1-440b-b251-0a26cdfea965.vsidx
ProjectWh/.vs/ProjectWh/FileContentIndex/e4a30b66-5ffd-438d-bfa4-7e4cb44d937b.vsidx
ProjectWh/.vs/ProjectWh/v17/.suo
ProjectWh/.vs/ProjectWh/v17/DocumentLayout.backup.json
ProjectWh/.vs/ProjectWh/v17/DocumentLayout.json
ProjectWh/.vs/slnx.sqlite
